mixin block(cl,h5,p)
	.col-md-4.col-sm-4
		.block(class=cl)
			h5.block-title=h5
			p.block-text=p

section#content
	.container
		+gt('','Курс состоит из 10 блоков с видео-заданиями')
		h4.content-subtitle Все задания состоят из трех этапов
		.blocks
			.row
				+block('block-1','Первый','Это теория и задание, которое участник делает сам (тест, практика, самоанализ). Инструкция к Заданию выдаются письменно и в видео формат')
				+block('block-2','Второй','Получает ответ от карт Таро или комментарий от куратор')
				+block('block-3','Третий','Получает ответ от карт Таро или комментарий от куратор')