mixin block(cl,h5,p)
	.col-md-4.col-sm-4
		.block(class=cl)
			h5.block-title=h5
			p.block-text=p

section#content
	.container
		+gt('','Курс состоит из 10 блоков с видео-заданиями')
		h4.content-subtitle Все задания состоят из трех этапов
		.blocks
			.row
				+block('block-1','Первый','Это теория и задание, которое участник делает сам (тест, практика, самоанализ). Инструкции к Заданию выдаются письменно и в видео-формата')
				+block('block-2','Второй','Получает ответ от карт Таро или комментарий от куратора')
				+block('block-3','Третий','Анализирует ответ от карт таро (куратора). 4 вебинара, на которых мы делаем практики. Один финальный, один бонусный и два в середине курса')