section#for
	.container
		+gt('','Мастер-класс идеально подойдет для тех, кто хочет:')
		.row
			.col-md-4.col-sm-4
				img(src="img/for-img.png", alt="Мастер-класс идеально подойдет для тех, кто хочет:", srcset="img/for-img.webp").for-img
			.col-md-8.col-sm-8
				ul.general-list.general-list-for
					li Лучше понять себя, научиться слышать и чувствовать себя 
					li Выявить свои неосознанные способы действия и мышления 
					li Принять и исцелить грани своей личности, трансформировать свои страхи и установки
					li Избавится от сомнений
					li Стать увереннее и поднять свою самооценку