section#get
	.container
		+gt('','По прохождению курса вы решите такие задачи, как:')
		ul.get-list
			li Помочь разобраться со своими желаниями, планами и мечтами. Выявить, какие планы выжны, а какие сбивают с пути и забирают ресурсы и энергию
			li Помочь участницам выявить уровень интуиции и научить ей пользоваться, узнать как развивается интуиция
			li Дать знание и практики о себе, чтоб выявить весь ментальный мусор, установки, что позволит доверять себе, не бояться принимать решения и не спутать Интуицию с иллюзией и заблуждениями ума, страхами, “волей судьбы”
			li Повысить самоценность участницы. Помочь понять, почему участница действует так, а не иначе, тем самым научить её быть в моменте
			li Помочь участницам лучше понять грани своей личности (привычки, характер) и как следствие, не бояться действовать по новому
			li Выявить свои неосознанные способы действия и мышления, что позволит вывести качество жизни на новый уровень
			li Помочь осознать свои страхи, проработать сомнения, определить токсичное окружение или нет. 
			li Выстроить новую стратегию жизни - достижения своих планов
			li Наладить отношения с близкими людьми. Лучше понять мужа, детей, родителей
		+b('','#prices','_self','купить')