section#get
	.container
		+gt('','По прохождению курса вы решите такие задачи, как:')
		ul.get-list
			li Разберетесь со своими желаниями, планами и мечтами. Выявите, какие планы важны, а какие сбивают с пути и забирают ресурсы и энергию
			li Выявите уровень интуиции и научитесь ей пользоваться, узнаете как развивается интуиция
			li Получите знание и практики о себе, чтобы выявить весь ментальный мусор, установки, что позволит доверять себе, не бояться принимать решения и не спутать Интуицию с иллюзией и заблуждениями ума, страхами, “волей судьбы”
			li Повысите самоценность. Поймете, почему действуете так, а не иначе, тем самым научитесь быть в моменте
			li Лучше поймете грани своей личности (привычки, характер) и как следствие, научитесь не бояться действовать по новому
			li Выявите свои неосознанные способы действия и мышления, что позволит вывести качество жизни на новый уровень
			li Осознаете свои страхи, проработаете сомнения, определите токсичное окружение или нет
			li Выстроите новую стратегию жизни &mdash; достижения своих планов
			li Наладите отношения с близкими людьми. Лучше поймете мужа, детей, родителей
		+b('','#prices','_self','купить')