section#results
	.container
		+gt('','Какой результат Вы получите:')
		.row
			.col-md-4.col-sm-4.col-md-push-8.col-sm-push-8
				img(src="img/results-img.png", alt="Какой результат Вы получите:", srcset="img/results-img.webp").results-img
			.col-md-8.col-sm-8.col-md-pull-4.col-sm-pull-4
				ul.general-list.general-list-results
					li Научитесь быть в моменте, наполняться и получать удовольствие от жизни
					li Сможете слышать себя, свою интуицию
					li Поймете почему Вы привлекаете в свою жизнь определенных людей или события
					li Избавитесь от обид и чувства вины
					li Расширите свои способы действия
					li Научитесь использовать свои ресурсы