header
	padding 15px 0
	overflow hidden
	margin-bottom: 60px
#logo
	display block
	float left
	width 220px
	height 15px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height: 15px
.contact
	font-size: 15px
	display: inline-block
	color initial
	.fa
		margin 0 5px 0 10px
		color myG
		font-size: 15px
	&:focus
		text-decoration: none
		color initial
	&:hover
		text-decoration: underline
		color initial