#content
	padding 60px 0
.content-subtitle
	text-align: center
	font-size: 22px
	margin-bottom: 30px
.block
	width 100%
	max-width 280px
	margin 0 auto
	background-color: #fff
	box-shadow: 4px -4px 0 rgba(0,0,0,.25)
	border: 1px solid rgba(0,0,0,.1)
	text-align: center
	&-title
		line-height: 40px
		font-size: 26px
		font-family: DiB
		padding 20px
		background-color: myG
		color #fff
	&-text
		padding 20px
		min-height 195px