.for-img
	width 100%
	max-width 340px
	box-shadow: 4px -4px 0 rgba(0,0,0,.25)
.general-list
	margin-top: 35px
.results-img
	@extend .for-img
.general-list-results
	li
		text-align: right
		padding-right 24px
		padding-left: 0
		background-image url(../img/arrow-2.png)
		background-position: right top 5px