footer
	background: #242933
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: DiB
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: DiL
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color myG
			box-shadow: 4px -4px 0 rgba(myG,.4)
			color #1C2430
			line-height 28px
			&:hover
				opacity .8