@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.content-subtitle
		font-size: 24px
	.blocks
	.packets
		width 1100px
		margin 0 auto
	.block
		max-width 320px
		&-text
			min-height 213px
	.general-list-for
		margin-top: 58px
	.get-list
		max-width 1100px
	.packet-body
		min-height 473px
	#recs
		max-width: 860px
@media screen and (max-width 1199px)
	.block-text
		min-height 220px
	.general-list-results
		margin-top: 0
	.packet-body
		min-height 439px
@media screen and (max-width 991px)
	header
		margin-bottom: 20px
	#logo
		float: none
		margin 0 auto 5px
	.contacts
		text-align: center
		float: none
	.contact
		margin 5px 5px 0
		.fa
			margin 0 5px 0  0
	.block-text
		min-height 272px
	.general-list
		margin-top: 0
	.packet-body
		min-height 619px
@media screen and (max-width 767px)
	.content-subtitle
		margin-bottom: 10px
	.block
	.general-list
		margin-top: 20px
	.block-text
	.packet-body
		min-height 1px
	.general-list-results li
		padding: 0 0 0 24px
		background-image url("../img/arrow.png")
		background-position: left top 5px
		text-align: left 
	.main-info:last-of-type
		margin-bottom: 30px
	#main
	#results
		padding-bottom: 40px
	#content, #get, #records,#prices
		padding 40px 0
	.general-title::after
		margin-bottom: 40px
	.packet
		margin-bottom: 20px
@media screen and (max-width 485px)
	header
		padding 10px 0
		margin-bottom: 10px
	#logo
		width 160px
		height 13px
	.contacts
		line-height: 12px
	.contact
	.contact .fa
		font-size: 12px
	.main-title
		font-size: 36px
	.main-subtitle
		font-size: 24px
	.main-subtitle::after
		margin-bottom: 30px
	.general-title
		font-size: 24px
	.general-title::after, .main-subtitle::after, .main-subtitle::before
		max-width 80%
		margin-left: auto
		margin-right: auto
	.prepayment
		padding 20px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.prepayment-title, .timer-title
		font-size: 26px
	.prepayment-text
		font-size: 18px
	.prepayment, .timer
		padding-top: 10px
	footer
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
@media screen and (max-width 385px)
	#main
	#results
		padding 0 0 30px
	.pre
		font-size: 16px
	.main-title
		margin 15px 0 10px
		font-size: 28px
	.main-subtitle
		font-size: 20px
		margin-bottom: 10px
	.main-subtitle::after
		margin-bottom: 10px
	.main-info
		font-size: 18px
		span
			font-size: 20px
	.main-info:last-of-type
		margin-bottom: 20px
	#content, #get, #records,#prices
		padding 30px 0
	.general-title
		font-size: 22px
		&:after
			margin-bottom: 25px
	.content-subtitle
		font-size: 20px
		margin-bottom: 0
	.general-list li
		margin-bottom: 10px
	.get-list
		margin-bottom: 20px
		padding 20px 20px 25px 20px
		li
			margin-bottom: 10px
	.packet-body
		padding-bottom:  10px
	.packet-body-list
		margin-left: 5px
		li
			margin-bottom: 10px
	.cost
		font-size: 22px
		span
			font-size: 26px
	.prepayment, .timer
		margin 10px auto 0
	.timer-title
		font-size: 24px
	.recs-container
		padding 15px