.general-title
.main-title
.main-info span
.block-title
.packet-head
.day-title 
footer h5
	font-weight: bold
.packet-head-title small
.cost
	font-weight: 100
.cost span
.prepayment
.timer
	font-weight: 900
.block-text
	min-height 220px